
click
fastapi
flask
gunicorn
invoke
ipywidgets
jupyter-ai
jupyter_ai_magics
jupyterlab
keras
langchain-openai
matplotlib
numpy
opencv-python
pandas
plotly
python-dotenv
python-slugify
pytube
pyyaml
requests 
scikit-learn
scipy
seaborn
tensorflow
tensorflow_datasets
torch
torchvision
tqdm
